@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --white:#ffffff;
    --yellow:#DFFA38;
    --drk-gry:#333;
    --black: #000;
    --bg:#333;
    --text:#DFFA38;
    --footer-bg:#DFFA38;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    min-height: 100vh;
    width: 100%;
}

nav {
    background-color: #333;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: #DFFA38;
    text-decoration: none;
    font-family: 'Palanquin', sans-serif;
    font-size: 21.33px;
    font-weight:500;
}
/*scrollbar*/
    ::-webkit-scrollbar {
        width: 8px;
        }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
        border-radius: 10px,
    }
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
        border: 1px solid rgba(233, 231, 231, 0.4);
        border-radius:10px;
        width: 5px;
    }
/* text & color styles */
    h1 {
        font-size: 4.209rem;
    }
    h2 {
        font-size: 3.157rem;
    }
    h3 {
        font-size: 2.369rem;
    }
    h4 {
        font-size: 1.77rem;
    }
    h5 {
        font-size: 1.33rem;
    }
    h6 {
        font-size: 1rem;
    } 

    .black {
        color: var(--black);
    }

/* navi */
    .menu li {
        font-size: 16px;
        padding: 15px 5px;
    }

    .menu li a {
        display: block;
        padding:5px;
    }

    .menu li a:hover {
        color:#000;
        background-color: #DFFA38;
        border-radius:70%;
        transition: all 0.5s ease-in-out;
    }

    .logo a {
        font-size:20px;
    }

    #logo {
        display: inline-block;
        width: 14%;
        height: 52px;
        padding: 1%;
        background-image: url("./images/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: top;
        cursor: pointer;
        object-fit: cover;
    }

    /* Mobile Menu */
        .menu {
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: center;
        }

        .item {
            width:100%;
            text-align: center;
            order:2;
            display:none;
        }

        .item.active {
            display: block;
        }


        .toggle {
            cursor: pointer;
            order:1;
        }

        .bars {
            background-color: #999;
            display: inline-block;
            height: 2px;
            position: relative;
            width: 18px;
        }

        .bars:before, .bars:after {
            background-color: #999;
            content:"";
            display: inline-block;
            height: 2px;
            position: absolute;
            width: 18px;
        }

        .bars:before {
            top:5px;
        }

        .bars:after {
            top:-5px;
        }

    /* Tablet Menu */
        @media all and (min-width:468px) {
            .menu {
                justify-content: center;
            }
            .logo {
                flex:1;
            }
        }

    /* Desktop Menu */
        @media all and (min-width:768px) {
            .item {
                display: block;
                width:auto;
            }

            .toggle {
                display: none;
            }

            .logo {
                order:0;
            }

            .item {
                order:1;
            }

            .menu li {
                padding:15px 10px;
            }
        }

/* homepage */
    #heroImg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container {
        position: relative;
        height: 700px;
        margin: 0 auto;
        width: 1100px;
    }

    #hero-img {
        position: absolute;
        background-image: url("./images/bee1.png");
        width: 820px;
        height: 617px;
        z-index: -1;
    }

    .cta {
        position: absolute;
        top: 8%;
        left: 53%;
        z-index: 1;
    }

    .cta button {
        color: var(--black);
        background-color: var(--yellow);
        border: none;
        padding: 10px 15px;
        font-family: 'Palanquin', sans-serif;
        font-weight: 700;
        font-size: 53px;
        cursor: pointer;
    }

    .cta button:hover {
        color: var(--text);
        background-color: var(--black);
        transition: 0.3s linear;
    }

    .cta h1 {
        margin-bottom: 2%;
    }

/* about page */
    .aboutMe{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: stretch;
        padding:5%;
    }

    .aboutContent {
        display: flex;
        flex: row wrap;
        justify-content: space-around;
        align-content: space-between;
    }

    .aboutText {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        font-family: 'Lexend', sans-serif;
        font-size: 1.4rem;
        text-align: justify;
        padding: 2%;
    }

    .aboutImg {
        background-color: var(--yellow);
        object-fit: cover;
        padding:2%;
        box-shadow: 50px 50px black;
    }

    .aboutMe button {
        color: var(--black);
        background-color: var(--yellow);
        border: none;
        padding: 10px 15px;
        font-family: 'Palanquin', sans-serif;
        font-weight: 700;
        font-size: 53px;
        cursor: pointer;
        min-width: 65%;
    }

    .aboutMe button:hover {
        color: var(--text);
        background-color: var(--black);
        transition: 0.3s linear;
    }

    .aboutMe h1 {
        color: var(--white);
    }

    .aboutText p {
        color:white;
    }

    .yellow {
        color: var(--yellow);
    }

/* skills page */
    #caseStudy {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: stretch;
        text-align: center;
        padding:5%;
    }

    .skillsContent {
        display: grid;
        grid-template-columns: 30% 1fr;
    }

    .scrollTop {
        padding:3%;
    }

    .sticky {
        position: sticky;
        top:0;
    }

    .skillsText {
        padding:3%;
    }

    #caseStudy button {
        color: var(--black);
        background-color: var(--yellow);
        border: none;
        padding: 10px 15px;
        font-family: 'Palanquin', sans-serif;
        font-weight: 700;
        font-size: 53px;
        cursor: pointer;
        min-width: 65%;
        font-size: 1.7rem;
    }

    #caseStudy button:hover {
        color: var(--text);
        background-color: var(--black);
        transition: 0.3s linear;
    }


    #caseStudy h1 {
        color:#ffffff;
    }

/* footer */
    footer {
        background: linear-gradient(180deg, #333333 0%, #BFD537 38.54%, #DFFA38 100%);
        color: var(--drk-gry);
        font-family: 'Palanquin';   
        font-style: normal;
        font-weight: 700;
        font-size: 21.33px;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .foot-wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top:20px;
    }

    .socials {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .foot-item {
        padding: 3%;
    }

    footer li, footer a {
        color: var(--black);
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        font-size: 21.33px;
        cursor: pointer;
    }

    footer li:hover, footer a:hover {
        color: var(--yellow);
        background-color: var(--drk-gry);
        border-radius: 90%;
        transition: 0.3s linear;
    }

/* media queries */
    /* smaller screens */
        @media only screen and (max-width: 1100px) {
            .cta {
                top:0;
                color:black;
            }
            #hero-img {
                background-size: cover;
                width: auto;
                height: 100%;
                background-repeat: no-repeat;
                position: unset;
                z-index: unset;
            }
            .cta {
                left:50%;
            }
        }
    /* tablet */
    @media only screen and (max-width: 800px) {
        body {
            justify-content:flex-start !important;
        }

        header {
            padding:20px 35px;
        }

        .toggle {
            display: block;
            font-size:35px;
        }

        .cta {
            position:absolute;
            background-color: rgba(0,0,0,0.7);
            padding:20px;
            left:2%;
            bottom:5% !important;
            top: unset !important;
            width: 90%;
            height: fit-content;
            text-align: center;
            box-shadow: 10px 5px 5px var(--yellow);
        }

        .cta h1 {
            margin:0;
            color: var(--text);
        }

        .black {
            color: var(--yellow);
        }

        .aboutContent {
            flex-direction: column;
        }

        .aboutImg {
            order:0;
        }

        .aboutText {
            order:1;
        }

    }
    /* mobile */
        @media only screen and (max-width: 455px) {
            nav {
                height: 20vh;
            }

            .container {
                width: 100%;
            }

            #logo {
                height: 33px;
            }

            .cta {
                width: 100%;
                left: 0;
                right: 0;
            }

            .cta h1 {
                font-size: 3rem;
            }

            footer {
                background: linear-gradient(180deg, #333333 0%, #BFD537 17.54%, #DFFA38 100%);
            }

            .socials {
                margin-top: 7%;
                flex-direction: column;
            }
        }